{% style %}
  
{% endstyle %}
<div class="img-banner-bg">
 <div class="page-width img-banner-content-wrap">
 
 </div>
</div>
{% schema %}
{
 "name": "Gift Image Banner",
 "class": "section-gift-image-banner",
 "settings": [
  {
    "type": "image_picker",
    "id": "bg_img",
    "label": "Background Image"
  },
  {
   "type": "text",
   "id": "bottom-bar-txt",
   "label": "Bottom Bar Text",
   "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
  }
 ],
 "blocks": [
    {
     "type": "heading",
     "name": "Heading",
     "limit": 1,
     "settings": [
        {
         "type": "text",
         "id": "heading",
         "label": "Heading"
        }
     ]
    },
    {
     "type": "description",
     "name": "Description",
     "limit": 1,
     "settings": [
        {
         "type": "richtext",
         "id": "description",
         "label": "Description"
        }
     ]
    },
    {
     "type": "Button",
     "name": "Button",
     "limit": 1,
     "settings": [
        {
         "type": "url",
         "id": "btn_link",
         "label": "Link"
        },
        {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text"
        }
     ]
    }
 ],
 "presets": [
    {
     "name": "Gift Image Banner"
    }
 ]
}
{% endschema %}