{% style %}
  
{% endstyle %}
<div class="img-banner-bg">
 <div class="page-width img-banner-content-wrap">
 
 </div>
</div>
{% schema %}
{
 "name": "Gift Image Banner",
 "class": "section-gift-image-banner",
 "settings": [
  {
    "type": "image_picker",
    "id": "bg_img",
    "label": "Background Image"
  },
  {
   "type": "text",
   "id": "bottom-bar-txt",
   "label": "Bottom Bar Text",
   "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
  }
 ],
 "presets": [
    {
     "name": "Gift Image Banner"
    }
 ]
}
{% endschema %}